
body{
    background-color: #a3a3a3;
}
.choosing-table-section{
    position: relative; 
    height: 60vh;
    width: 100%;
    text-align: center;
}


.choose-table-div{
    position: relative;
    top: 15vh;
    width: 40vw;
    font-family: Raleway, serif;
    font-style: normal;
    line-height: normal;
    text-align:center;
    bottom: 40vh;
    font-size: 20px;
    margin: auto;
    color: #000000c7;
  }
  .choose-text{
    font-size: 34px;
  }

  .choose-buttons{
    margin-top: 30px;
  }

  .table-nav-button{
      display: block;
      width: 60%;
      height: 40px;
      margin: 20px auto auto;
      appearance: none;
      backface-visibility: hidden;
      background-color: #cbc217;
      border-radius: 8px;
      border-style: none;
      box-shadow: rgba(188, 196, 34, 0.15) 0 4px 9px;
  }

.table-nav-button:hover {
    background-color: #9a8600;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}
.table-nav-button:active {
    transform: translateY(2px);
    transition-duration: .35s;
}


  .chosen-table-div{
      position: relative;
      top: 10vh;
      align-items: center;
      margin: auto;
  }

  .tab {
      background-color: rgba(241, 241, 241, 0.74);
    width: 70%;
    border-collapse: collapse;
    color: #000000;
      margin: 20px auto auto;
      font-size: 18px;
  }

 .tab td,.info-table th {
    padding: 10px;
      border: #68a369 solid 2px;
  }

 .tab thead {
      background-color: #27ae60;
      color: #ffffff;
  }


.del-button {

    border: solid 2px white;
    background: #FF2200;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

.del-button:hover {

    border: none;
}

.del-button:active {
    background: #FFAA00;
}


.table-nav-button, .add-row-button, .accept-add, .cancel-add{
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.add-row-button, .accept-add, .cancel-add{
    display: block;
    width: 100%;
    height: 40px;
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
}

.add-row-button:hover, .accept-add:hover, .cancel-add:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.add-row-button:active, .accept-add:active, .cancel-add:active {
    transform: translateY(2px);
    transition-duration: .35s;
}


    td.add-row-cell, td.accept-cell, td.cancel-cell, .tab-head, .tab-foot{
      border: none;
  }

td.del-cell{
    display: none;
}
tr:hover td.del-cell{
    display: table-cell;
}

th{
    padding: 10px;
}

input, select{
    background-color: rgb(221 221 221 / 74%);
    color: #000000;
    font-size: 18px;
    border-radius: 10px;
    border-width: thin;
}
#error-box {
    visibility: hidden;
    position: relative;
    font-family: Calibri, serif;
    font-size: 20px;
    background-color: bisque;
    color: darkred;
    padding: 10px;
    text-align: center;
    top: 100px;
}


.dropbtn {
    background-color: inherit;
    font-family: 'Inter', sans-serif;
    color: white;
    padding: 18px;
    font-size: 18px;
    border: none;
}

.dropbtn:hover {
    background: #227056;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cbc217;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a:hover {
    background-color: #9a8600;
    transform: translateY(0);
    transition: .5s;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: .5s;
}

.background-div{
    position: relative;
    top: 37px;
    min-height: 150%;
    background-color: #ececec;
    width: 90%;
    margin: auto;
}