<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/request-company.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<script>
    console.log("SCRIPT")

    findAllCompanies(success, error);

    function success(response) {
        let companies = response;
        console.log(companies);
    }
    function error(xhr, status, error) {
        console.log(xhr);
        console.log(status);
        console.log(error);
    }
</script>
</body>
</html>