<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test2</title>

    <link rel="stylesheet" href="/css/table.css">

<!--    <script type="text/javascript" src="/js/element-on-built.js"></script>-->
<!--    <script type="text/javascript" src="/js/table-builder.js"></script>-->
<!--    <script type="text/javascript" src="/js/table-structure.js"></script>-->
<!--    <script type="text/javascript" src="/js/table-structure-impl.js"></script>-->
<!--    <script type="text/javascript" src="/js/element-prototype.js"></script>-->
<!--    <script type="text/javascript" src="/js/table-actions.js"></script>-->

    <script type="text/javascript" src="/js/component/button.js"></script>
    <script type="text/javascript" src="/js/component/table-data-cell.js"></script>
    <script type="text/javascript" src="/js/component/input.js"></script>
    <script type="text/javascript" src="/js/component/option.js"></script>
    <script type="text/javascript" src="/js/component/table-row.js"></script>
    <script type="text/javascript" src="/js/component/table-header-cell.js"></script>
    <script type="text/javascript" src="/js/component/select.js"></script>
    <script type="text/javascript" src="/js/component/table-body.js"></script>
    <script type="text/javascript" src="/js/component/table-head.js"></script>
    <script type="text/javascript" src="/js/component/table-foot.js"></script>
    <script type="text/javascript" src="/js/component/table.js"></script>
    <script type="text/javascript" src="/js/component/table-container.js"></script>

    <script type="text/javascript" src="/js/validator.js"></script>
    <script type="text/javascript" src="/js/error.js"></script>
    <script type="text/javascript" src="/js/show-add-table-cntrl.js"></script>
    <script type="text/javascript" src="/js/table-reader.js"></script>
    <script type="text/javascript" src="/js/table-schema.js"></script>
    <script type="text/javascript" src="/js/table-schema-impl.js"></script>

    <script type="text/javascript" src="/js/request.js"></script>
    <script type="text/javascript" src="/js/data-operation.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        tr:hover {
            background-color: #dddddd;
        }
        #error-box {
            font-family: Calibri;
            font-size: 20px;
            background-color: bisque;
            color: darkred;
            text-align: center;
        }
        div {
            padding: 10px;
        }
        button {
            padding: 5px;
        }
    </style>
</head>
<body>
<div id="error-box">

</div>
<div id="add-row-container">

</div>
<div id="tables">

</div>
<script>
    let tables = $('#tables')[0];
    tables.appendChild(CompanyTableContainer());
    tables.appendChild(PollutantTableContainer());
    tables.appendChild(PollutionTableContainer());
</script>
</body>
</html>