<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test-table-creators</title>
    <script type="text/javascript" src="/js/table-elements.js"></script>
    <script type="text/javascript" src="/js/table-functions.js"></script>
    <script type="text/javascript" src="/js/table-creators.js"></script>
    <script type="text/javascript" src="/js/request-company.js"></script>
    <script type="text/javascript" src="/js/request-pollutant.js"></script>
    <script type="text/javascript" src="/js/request-pollution.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        tr:hover {
            background-color: #dddddd;
        }
    </style>
</head>

<body>



<script>
    console.log("SCRIPT")
    let body = $("body")[0];

    findAllCompanies(successCompany, error);
    findAllPollutants(successPollutant, error);
    findAllPollutions(successPollution, error);

    function successCompany(response) {
        let table = tableCompany(response);
        configureTable(table);
        body.appendChild(table);
        body.appendChild(document.createElement("hr"))
    }

    function successPollutant(response) {
        let table = tablePollutant(response);
        configureTable(table);
        body.appendChild(table);
        body.appendChild(document.createElement("hr"))
    }

    function successPollution(response) {
        let table = tablePollution(response);
        configureTable(table);
        body.appendChild(table);
        body.appendChild(document.createElement("hr"))
    }
    function error(xhr, status, error) {
        console.log(xhr);
        console.log(status);
        console.log(error);
    }
</script>
</body>
</html>